<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stmybatisenum.mapper.PersonMapper">
  <resultMap id="BaseResultMap" type="com.stmybatisenum.model.Person">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="AGE" jdbcType="INTEGER" property="age" />
    <result column="GENDER" jdbcType="VARCHAR" property="gender" />
  </resultMap>

  <select id="query" resultMap="BaseResultMap">
    select * from person
  </select>

  <insert id="insert" parameterType="com.stmybatisenum.model.Person">
    insert into person (id, name, age, gender)
    values (
        #{id},
        #{name},
        #{age},
        #{gender}
    )
  </insert>
</mapper>